* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  padding-top: 4rem;
}

button {
  border: none;
  display: block;
  font-size: 1.6rem;
  margin-top: 2rem;
  background-color: rgb(57, 74, 228);
  padding: 1rem 1.2rem;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  will-change: opacity, color;

  &:hover {
    opacity: 0.8;
    color: #000;
  }
}

h1 {
  font-size: 3rem;
}

#cash-register {
  display: flex;
  flex-direction: column;
  max-width: 60%;

  .form-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;

    label {
      width: 7rem;
    }

    input {
      flex: 1;
      padding: 1rem;
      font-size: 1.6rem;
      outline: none;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
  }

  fieldset {
    display: flex;
    flex-wrap: wrap;
    padding: 1.6rem;
    gap: 1.6rem;
    margin-top: 2rem;
    border-radius: 4px;

    .form-group {
      width: calc(30% - 1.6rem);

      input {
        max-width: 7rem;
      }

      label {
        flex: 1;
        margin-left: 2rem;
      }
    }
  }
}

.result {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    font-size: 3rem;
    color: #3253c2;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    vertical-align: center;
  }

  &-body {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 1.8rem;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.6rem;
    }

    &-content {
      display: flex;
      gap: 1.2rem;
      flex-wrap: wrap;
    }

    span {
      background-color: #000;
      color: #fff;
      padding: 1.2rem;
      min-width: 10rem;
    }
  }
}
